{% extends "base.html" %} {% block title %}Home{% endblock %}

{% block content %}
<!-- this code is just to read, write, and delete notes -->
<div class="container">

    <h1>This is the home page</h1>
    <p>Hello {{ current_user.userName }}</p>

    <h1 align="center">Notes</h1>
    <ul class="list-group list-group-flush" id="notes">
<!-- if current user has any notes, a for loop reads one note at a time
out of the database and adds it to an HTML list item -->
        {% for note in user.notes %}
        <li class="list-group-item">{{ note.data }}
<!-- each list item gets a button with code to delete a note by calling a script -->
<!-- the script code in the base.html finishes this call -->
            <button type="button" class="close" onClick="deleteNote({{ note.id }})">
                <span aria-hidden="true">&times;</span>
            </button>
        </li>
        {% endfor %}
    </ul>

<!-- code to create a new note-->
    <form method="POST">
        <textarea name="note" id="note" class="form-control"></textarea>
        <br>
        <div align="center">
            <button type="submit" class="btn btn-primary">Add Note</button>
        </div>
    </form>

</div>

{% endblock %}
