{% extends "base.html" %} {% block title %}Links{% endblock %}

{% block content %}
<table id="data"  class="table table-secondary table-bordered table-striped">
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Name</th>
            <th scope="col">Link</th>
            <th scope="col">Created</th>
            <th scope="col">By</th>
            <th scope="col">LMS</th>
        </tr>
    </thead>
    <tbody class="table-group-divider table-sm">
<!--build the table by adding records from the database one at a time with a for loop-->
        {% for link in links %}
        <tr>
            <td>{{ link.date }}</td>
            <td>{{ link.name }}</td>
            <td><a href="{{ link.link }}" target="_blank">{{ link.link }}</a></td>
            <td>{{ link.create_date }}</td>
            <td>{{ link.create_by }}</td>
            <td>{{ link.lms_number }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

<!-- script calls function to add search/sort/pagination -->
{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable();
    });
  </script>
{% endblock %}

